@import 'bootstrap/dist/css/bootstrap.min.css';
@import './pages/home//cards-components/style.scss';
@import './pages/React-forms//form-components/form-style.scss';
@import './pages/cardsAPI/layout/components/API-style.scss';

body {
  background: rgb(233, 232, 232);
}
h1 {
}
.container-main {
  text-align: center;
  margin: 25px 0px;
}

.heder-error {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eror-text {
  font-size: 7em;
}
.search-bar {
  max-width: 600px;
  margin: 0 auto;
}
.header-search {
}
.header-search__box-form {
  margin-top: 20vh;
  border: 9px solid rgb(223, 223, 223);
  border-radius: 15px;
}
.header-search__text {
  margin: 0 auto;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 15px;
}
.nav-tabs {
  margin: 2vh 0px;
}

.btn-outline-info {
  width: 99%;
}
